body{
    display: grid;
    background-color: #d6c8fc28;
    justify-content: center;
    font-family: sans-serif;
    min-height: 96vh;
    grid-template-rows: auto auto 1fr auto;
}

main{
    display: grid;
    text-align: center;
    justify-content: center;
}

header{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
    gap: 20px;
}

nav ul a{
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    transition: 30ms;
    width: 50px;
    text-align: center;
}

nav ul a:hover{
    background-color: lightgrey;
    border: 2px black solid;
    transform: scale(1.1);
}

table{
    margin-top: 40px;
}

table td{
    border: 3px solid black;
    text-align: center;
    padding: 10px;
}

table th{
    border: 3px solid black;
    text-align: center;
    padding: 10px;
}

footer{
    display: grid;
    justify-content: center;
}